@import url("./fonts/fonts.css");

:root {
  font-family: "Roboto", sans-serif;
  --background-colors-items: #f3f2f1
}

body {
  background-image: url('../image/john-towner-JgOeRuGD_Y4-unsplash.jpg');
  padding: 1rem;
}

/* Estilos de formulario */
.form-notes {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: var(--background-colors-items);
  border-radius: 5px;
  margin: 0 auto;
  max-width: 700px;
  min-width: 600px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.field-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.field-container__label {
  font-weight: 500;
}

.field-container__input {
  
}

.field-container__input#description {
  min-height: 6.25rem;
  resize: none;
}

.field-container__input,
.form-notes__button {
  padding: .313rem;
}

.field-container__alert {
  display: none;
}

/* Estilos del formulario en caso de entradas invalidas */
.field-container.error .field-container__label {
  color: red;
}

.field-container.error .field-container__input {
  border: 3px solid transparent;
  outline: 0.125rem solid red;
}

.field-container.error .field-container__alert {
  display: block;
  font-size: 0.8rem;
}

/* Estilos de nota */
.notes-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.note {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--background-colors-items);
  border: .063rem solid black;
  border-radius: 5px;
  padding: .5rem;

  transition: box-shadow 0.1s;
}

.note:hover {
  box-shadow: 2px 2px 5px;
}

/* .note * {
  pointer-events: none;
} */

.note__title {
  font-size: 1.2rem;
  font-weight: 500;
}

.note__description {
  overflow-wrap: break-word;
}

/* .note__button {
  padding: 2px;
  width: fit-content;
}

.note__button--hidden {
  display: none;
}

.note__button * {
  pointer-events: none;
} */

/* Media queries */
@media (prefers-color-scheme: dark) {
  .note {
    border: 1px solid white;
  }
}

@media (width <= 576px) {
  .form-notes {
    min-width: 300px;
    max-width: 100%;
  }
}

